.header {
	display: flex;
	justify-content: space-between;
}

.modal {
	&__wrap {
		width: 528px;
		padding: 24px 80px;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 24px;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	& &__button {
		margin-top: 24px;
		width: 100%;
		height: 40px;
		border-radius: 20px;

		&_disabled {
			opacity: 0.6;
			background-color: orangered;
			margin-top: 24px;
			width: 100%;
			height: 40px;
			border-radius: 20px;
		}
	}

	&__link {
		color: #0000ff;
		cursor: pointer;

		&-wrap {
			margin-top: 30px;
		}
	}
}

.line {

	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;
	margin-bottom: 24px;


	&_border {
		border-top: 1px solid rgb(214, 214, 214);
		min-width: 45%;

	}

}

.authorization {
	margin-top: 24px;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #dadce0;
	cursor: pointer;

	&_icon {
		width: 18px;
		height: 18px;
		float: right;
	}
}