.post {
    width: 650px;
    height: 700px;
    border: 1px gray;
    border-radius: 5px;
}




.Header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.cats_text {
    font-size: 20px;
    color: gray;
}

.buttons {
    display: flex;
    align-items: center;
}

.group {
    display: flex;
    align-items: center;
}

.join {
    margin: 3px;
    border-radius: 10px;
    background-color: rgb(87, 61, 217);
    color: aliceblue;
    cursor: pointer;
}

.option {
    margin: 3px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px rgb(101, 101, 101);
}


.content {
    margin-top: 10px;
    padding: 10px;
}


.footer {
    display: flex;
    align-items: center;
}

.icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.like {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px rgb(100, 100, 100);

}

.comment {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px rgb(100, 100, 100);

}

.repost {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px rgb(100, 100, 100);
}