.nav {
    min-width: 222px;
    max-width: 350px;
    position: relative;

    & &__title {
        padding: 15px 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #576f76;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: #eaedef;
        }
    }

    & &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: #eaedef;
        }

        &:active {
            transition: none;
        }

        &-lang {
            padding: 13px 15px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    & &__wrapper {
        display: flex;
        align-items: center;
    }

    & &__sublist {
        width: 100%;
    }

    & &__subitem {
        padding: 5px 25px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: #eaedef;
        }
    }

    &__link,
    &__sublink {
        color: #0f1a1c;
        text-decoration: none;
        font-size: 14px;
    }

    &__icon {
        margin-right: 10px;
    }

    & &__button {
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 50px;
        font-size: 12px;
        font-weight: bold;
        color: black;
        background-color: white;
        box-shadow: none;
        transition: unset;
        animation: none;
        text-transform: none;

        &:hover {
            background-color: rgb(225, 225, 225);
            box-shadow: none;
            border-radius: 50px;
        }
    }
}
